<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
	  <trust level="Full" />
    <compilation debug="true" targetFramework="4.8"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <globalization culture="en-GB"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
	</system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--<add key="SenderEmail" value="vermadeveloper@gmail.com"/>
    <add key="SenderEmailPwd" value="9996898969"/>-->
	<add key="SenderEmail" value="hardikbshah4@gmail.com"/>
	<add key="SenderEmailPwd" value="iwjs zrmw swym tzac"/>
    <add key="hostname" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="defaultPsw" value="12345678"/>
    <!--Test credentials-->
    <!--Test credentials-->
  </appSettings>
  <connectionStrings>
    <!--<add name="ConStrng" connectionString="server=62.149.153.47;initial catalog=MSSql101217;uid=MSSql101217;pwd=sngch2w8ir;" providerName="System.Data.SqlClient"/>-->
	 <!--Development connection string verison 2022-->
    <!--<add name="ConStrng" connectionString="server=DESKTOP-FQDAFQV;Initial Catalog=MSSql101217;Integrated Security=True"/>-->
	  <add name ="ConStrng" connectionString="server=DESKTOP-FQDAFQV\SQLEXPRESSSERVER;Initial Catalog=MSSql101217;Integrated Security=True"/>
	 <!--Deploy last connection string-->
	<!--<add name="ConStrng" connectionString="server=62.149.153.49;Initial Catalog=MSSql211829; Integrated Security=False; User ID=MSSql211829; pwd=AdmCent.2023; Connect Timeout=0;Encrypt=False;Packet Size=4096"/>-->
	  <!--<add name="ConStrng" connectionString="server=DESKTOP-FQDAFQV;Initial Catalog=MSSql101217;Integrated Security=True"/>-->
    <!--<add name="ConStrng" connectionString="server=192.168.50.20;initial catalog=EmoBank;uid=sa;pwd=spic123#;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConStrng" connectionString="server=SQL5026.Smarterasp.net ;initial catalog=DB_9FF69E_emobank;uid=DB_9FF69E_emobank_admin;pwd=Spic123#;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>